{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OurHome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todo/css/base.css' %}?v=20260618-4">
    <link rel="stylesheet" href="{% static 'todo/css/dark-theme.css' %}?v=20260618-2">
    <link rel="stylesheet" href="{% static 'todo/css/components.css' %}?v=20260618-2">
    <link rel="stylesheet" href="{% static 'todo/css/responsive.css' %}?v=20260618-3">
</head>
<body class="theme-{{ request.session.theme|default:'light' }}">
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    {% block page_scripts %}{% endblock page_scripts %}
</body>
</html>
