{% extends 'todo/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello, {{ request.user | title }}</h1>
        <h3>You have <i> {{ count }} incomplete task{{count|pluralize:'s'}} </i></h3>
    </div>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="link-button" type="submit">Logout</button>
    </form>
</div>
<hr>

<div id="search-and-wrapper">
    <form action="" method="get">
        <input type="text" name="search-area" value="{{ search_input }}" placeholder="Search task">
        <input class="button" type="submit" value="Search Task">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>




<div class = "task-item-wrapper">
    {% for tasks in task %}
    <div class = "task-wrapper">
        {% if tasks.complete %}
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' tasks.id %}">{{ tasks }}</a></s></i>
        </div>
        <a href="{% url 'task-delete' tasks.id %}" class="delete-link">&#215;</a>

        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' tasks.id %}">{{ tasks }}</a>
        </div>
        <a href="{% url 'task-delete' tasks.id %}" class="delete-link">&#215;</a>
        {% endif %}
    </div>
    {% empty %}
    <h3>No items in list </h3>
    <a class = "button" href="{% url 'task-create' %}">Add new item</a>
    {% endfor %}
</div>


<!--
<table>
    <tr>
        <th>Items</th>
    </tr>
    {% for task in task %}
    <tr>
        <td> {{task.title}}</td>
        <td><a href="{% url 'task-detail' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-create' %}">Add</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No items in list </h3>
    <a href="{% url 'task-create' %}">Add new item</a>
    {% endfor %}
</table>
-->


{% endblock content %}
